<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  <label><h4>Email: </h4></label><input type="text" name="email"/>
  <label><h4>Password: </h4></label><input type="password" name="password"/>
  <input type="submit" value="Log In"/>
</form>