<h1>Sign Up Below:</h1>
<form action='/registrations' method='post'>
    <p><label for='name'>Name:</label>
    <input type='text' name='name' id='name'></p>
    <p><label for='e'>Email:</label>
    <input type='text' name='email' id='e'></p>
    <p><label for='p'>Password:</label>
    <input type='text' name='password' id='p'></p>
    <input type='submit' value='Sign Up'>
</form>

