<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <label><h4>Name: </h4></label><input type="text" name="name"/>
  <label><h4>Email: </h4></label><input type="text" name="email"/>
  <label><h4>Password: </h4></label><input type="password" name="password"/>
  <input type="submit" value="Sign Up"/>
</form>

